/* Loader styles */
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #0066cc;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-sm .spinner {
  width: 30px;
  height: 30px;
}

.loader-md .spinner {
  width: 50px;
  height: 50px;
}

.loader-lg .spinner {
  width: 70px;
  height: 70px;
}

.loader-text {
  margin-top: 1rem;
  color: #666;
  font-size: 0.95rem;
}
